body {
    background-color: #F4EAE0;
    margin: 0px 50px;
}

h1 {
    color: #1F1717;
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

h2 {
    color: #CE5A67;
    font-family: "Meow Script", cursive;
    font-weight: 200;
    font-style: italic;
    font-size: 90px;
}

.title {
    text-align: center;
    line-height: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex: 1;
}

.kname {
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: black;
    font-family: "Shippori Antique", sans-serif;
}

h4 {
    font-family: "Shippori Antique", sans-serif;
}

p {
    font-family: "Shippori Antique", sans-serif;
}

.all {
    background-color: #FAF6F0;
    padding: 10px;
    border-radius: 5px;
    flex-basis: 100px;
}

img {
    width: 400px;
}

.all:hover {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3), 0 8px 16px 0 rgb(0, 0, 0, 0.30);
}

@media (max-width: 700px) {
    h1 {
        font-size: 60px;
    }

    h2  {
        font-size: 50px;
    }

    .title {
        text-align: center;
        line-height: 20px;
    }

    .kname {
        text-align: center;
        line-height: 10px;
        font-weight: bold;
        color: black;
        font-family: "Shippori Antique", sans-serif;
        font-size: 20px;
    }
    
    h4 {
        font-family: "Shippori Antique", sans-serif;
        font-size: 15px;
    }
    
    p {
        font-family: "Shippori Antique", sans-serif;
        font-size: 15px;
    }

    .all {
        padding: 15px;
        border-radius: 5px;
        flex-basis: 100px;
    }

    img {
        width: 300px;
    }
}
